<div class="container">
    
<div class="heading">
<h1>Times Greeted:</h1>
</div>

<div class="Users" >
<p> Hi {{names}} you have been greeted {{counter}} time(s).</p>
<div class="greetedPeople">
     
<a href="/timesGreeted/{{@keys}}">{{@keys}}</a></td>
<button class="bura">
<a href="/greeted">Back Home</a>
</button>
</div>
       
</div>