<div class="container">
    <h1>Times Greeted:</h1>

   <div class="countNamesGreeted">
    <p> Hi {{names}} you have been greeted {{counter}} time(s).</p>
    <div class="greetedPeople">
     
            <a href="/timesGreeted/{{@keys}}">{{@keys}}</a></td>
       
</div>