<div class="container">
    <h1>Names Greeted:</h1>

   <div class="Users">
        <table>
        {{!-- <tr>
            <th>Names:</th>

        </tr> --}}
        {{#each namesList}}
        <tr>
            <td><a href="/greeted/{{@key}}">{{@key}}</a></td>
        </tr>
        {{/each}}
    </table>
   </div>
</div>